 <header class="main-header">
    <h1>new one</h1>
    <!-- <div class="logo">MyWebsite</div> -->
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="profilepage">About</a>
      <a href="/">Services</a>
      <a href="contactus">Contact</a>
    </nav>
  </header>
