<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include ('header') %>


    <h1>welcome to <%= title %> </h1>
    <p>This is the profile page.</p>
    <a href="profilepage">Go to Profile</a>
    <a href="contactus">Go to Contact Us</a>

    <%-include ('footer') %>
</body>
</html>